.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(30, 30, 30, 0.35);
  opacity: 1;
  z-index: 15;
}
.booking-dialog {
  width: 100%;
  max-width: 370px;
  height: 470px;
  background: #fff;
  opacity: 1;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .booking-title {
    font-size: 24px;
    display: block;
    padding: 2.5rem 2.5rem 0;
  }
  .booking-form {
    padding: 2.5rem 2.5rem 0;
    .booking-name,
    .booking-tel,
    .booking-date {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #name,
      #tel,
      #date {
        flex: 1 0 auto;
        border: 1px solid #cbd5e0;
        border-radius: 4px;
        outline: 0;
        padding: 5px;
        font-size: 16px;
      }
      #date {
        width: 100%;
      }
      & > label {
        flex: 1 0 auto;
        padding-right: 5px;
      }
    }
  }
  .count-day {
    padding: 1rem 2.5rem;
    background-color: #ededed;
    .normal-day {
      padding-bottom: 10px;
    }
    .normal-day,
    .holiday {
      color: #6d7278;
      font-size: 13px;
    }
  }
  .total {
    text-align: right;
    padding: 1.5rem 2.5rem 0;
    font-size: 24px;
    color: #ff5c5c;
  }
  .booking-confirm {
    padding: 1.5rem 2.5rem 0;
    .cancel,
    .confirm {
      padding: 10px 15px;
      border: none;
      -webkit-appearance: none;
      border-radius: 0;
      cursor: pointer;
      outline: 0;
    }
    .cancel {
      background-color: #d8d8d8;
      color: #484848;
    }
    .confirm {
      background-color: #484848;
      color: #fff;
    }
  }
}
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.25s;
}
.modal-enter,
.modal-leave-to {
  opacity: 0;
}